<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
</head>
<body>
    <div>
        <p>Dear @Model.Name,</p>       
        <p>You have requested that your password to @Model.Organisation be reset</p>
        <p>Please click <a href="@Model.Path?UserName=@Model.UserName&Token=@Model.Token">here</a> to reset your password</p> 
        <p>If you did not request a password reset you do not need to take any action.</p> 
        <br />
        <br />
        <p>kind Regards,</p>
        <p>Administrator</p>
    </div>
</body>
</html>
