body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

select>option{
font-size:large;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
   width: 280px;
}*/

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.inline-block{
  display:inline-block;
}

.inline{
  display:inline;
}

page-title {
  font-size: 30px;
  display: inline;
}

page-subtitle {
  font-size: 18px;
  display: inline;
}

hgroup {
  margin-top: 40px;
  border-bottom: 1px solid #eeeeee;
  padding-bottom:10px;
  margin-bottom: 20px;
}

footer {
  border-top: 1px solid #eeeeee;
  margin-top: 40px;
  text-align: center;
}
.required {
  background-color: #ffffb2;
}